[Unit]
Description=Wait for Tor to Have Bootstrapped
Documentation=https://tails.net/contribute/design/
ConditionUser=1000

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'while ! [ -e /run/tor-has-bootstrapped/done ] ; do \
                         /bin/sleep 1                                  ; \
                      done'
TimeoutStartSec=0

[Install]
WantedBy=desktop.target
