[Unit]
Description=Display a warning on emergency shutdown
ConditionUser=1000

[Service]
ExecStart=/usr/local/lib/on-stick-unplugged
Restart=on-failure

[Install]
WantedBy=desktop.target
