[Unit]
Description=Notify user of MAC spoofing panic success
Documentation=https://gitlab.tails.boum.org/tails/tails/-/issues/17813

[Service]
Type=oneshot
ExecStart=/usr/local/lib/tails-spoof-mac-notify %i success

[Install]
WantedBy=desktop.target

