[Unit]
Description=Report possible errors about disk resizing
Documentation=https://tails.net/install
ConditionUser=1000
ConditionPathExists=/var/lib/live/config/tails.disk-resize-errors

[Service]
ExecStart=/usr/local/lib/tails-report-disk-resize-errors
RemainAfterExit=yes

[Install]
WantedBy=desktop.target
