[Unit]
Description=Tor has Bootstrapped
Documentation=https://tails.net/contribute/design/
After=tails-tor-has-bootstrapped-flag-file.service
BindsTo=tails-tor-has-bootstrapped-flag-file.service

[Install]
WantedBy=tails-tor-has-bootstrapped-flag-file.service
